 {% extends "base.html.twig" %}
 
 {% block content %}

    <span id='fecha-disposicion'></span>
    <input type="button" id='default-dispo' value='Disposicion por defecto'>
    <input type="button" id='btnNewMesa' value='Nueva mesa'>

    <div id="contenedor-mesas" style="width: 100%; min-width: 1200px; overflow: scroll;">
        <div id="sala" style=""></div>
        <div id="almacen" style=""></div>
    </div>

    <div id='divNewMesa' class='' style='width:100%'>
        {{ form_start(form,{'attr': {'id': 'newMesaForm', 'class': 'form col-lg-4 col-md-6 col-sm-9 col-xs-12 text-center mt-3 '}}) }}
            {{ form_errors(form) }}
            {{ form_row(form.ancho) }}
            {{ form_row(form.longitud) }}
            
            <button type="submit" class="w-50 boton">Crear</button>

        {{ form_end(form) }}
    </div>
    
    {% if not form.vars.valid %}
        <div class="alert alert-error">
            {{ form_errors(form) }}
        </div>
    {% endif %}

 {% endblock %}