{% extends 'base.html.twig' %}

{% block content %}
    <h1>Eventos</h1>
    <a href='{{ absolute_url(path('app_reserva')) }}' class='boton boton--gradient mt-2 mb-2'>Reservar</a>
    <div id='listEventos'>
    {% for evento in eventos %}
        <div class='evento {% if now > evento.fecha %}evento--antiguo{% endif %}'>
            <h1>{{evento.nombre}}</h1>     
            <img src='{{img_eventos_path}}{{evento.img}}'>
                <span>{{ evento.fecha|date('Y-m-d') }}</span>
            {# <a href="{{ absolute_url(path('app_juego',{id: juego.id})) }}" class='boton boton--secundario '>Ver</a> #}
            
        </div>
    {% endfor %}
    </div>
{% endblock %}