{% extends "base.html.twig" %}

{% block content %}
{# <pre>
    {{ dump(form.juegos) }}
</pre> #}
    <h1>Nuevo Evento</h1>

    <div class="container d-flex justify-content-center align-items-center mb-3 mt-3">
        <div class="progresses">
            <div class="steps-done">
                <span class="font-weight-bold"><i class="fa fa-check"></i></span>
            </div>

            <span class="line-done"></span>

            <div class="steps-done">
                <span class="font-weight-bold">2</span>
            </div>


            <span class="line"></span>

            <div class="steps">
                <span class="font-weight-bold">3</span>
            </div>
                
        </div>    
    </div>

    <h2>Juegos</h2>

    {{ form_start(form, { 'attr' : { 'id':'formNewEventoJuego', 'class': 'form col-lg-4 col-md-6 col-sm-9 col-xs-12 text-center mt-3' } }) }}
        
        <div id='divJuegosSelect' data-id="{{evento.id}}">
        </div>
        
        {{ form_row(form.juegos) }}
        {# {% for item in form.juegos.vars.choices %}
                <img src="./{{img_eventos_path}} {{ item.data.img }}"
        {% endfor %} #}
        
        <button type="submit" class="w-50 boton">Crear</button>
    {{ form_end(form) }}
{% endblock %}