<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Xokas y Cia{% endblock %}</title>
        <link rel="icon" href={{img_path}}logo.png>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"rel="stylesheet">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="css/main.css" />
            <!-- Bootstrap core CSS -->
            <link href="bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
            <!-- Additional CSS Files -->
            <link rel="stylesheet" href="bootstrap/assets/css/fontawesome.css">
            <link rel="stylesheet" href="bootstrap/assets/css/templatemo-tale-seo-agency.css">
            <link rel="stylesheet" href="bootstrap/assets/css/owl.css">
            <link rel="stylesheet" href="bootstrap/assets/css/animate.css">
            <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

            {# jquery #}
            <link rel="stylesheet" href="js/ui/css/jquery-ui.css">
            <link rel="stylesheet" href="js/ui/css/jquery-ui.structure.css">
            <link rel="stylesheet" href="js/ui/css/jquery-ui.theme.css">
    
            {# personal #}
        {% endblock %}

        
    </head>
    <body>
        {% block body %}
            {% block header %}
                {% set classHeader = '' %}
                
                {% if app.user and app.user.roles[0] and app.user.roles[0] == 'ROLE_ADMIN' %}
                    {% set classHeader = 'header-area--admin' %}
                {% endif %}

                <header class='header-area background-header {{classHeader}}'>
                    <div class="container ">
                    <div class="row text-center">
                        <div class="col-8 col-md-7 ">
                            <nav class="main-nav">
                                <!-- ***** Logo Start ***** -->
                                <a href="{{ absolute_url(path('home')) }}" class="logo">
                                <img src={{img_path}}logo.png alt="" style="width: 50px;">
                                </a>
                                <!-- ***** Logo End ***** -->
                                <!-- ***** Menu Start ***** -->
                                <ul class="nav">
                                    <li class="scroll-to-section"><a href='{{ absolute_url(path('app_reserva')) }}' class="">Reservar</a></li>
                                    <li class="scroll-to-section"><a href='{{ absolute_url(path('app_reserva')) }}' class="">Juegos</a></li>
                                    <li class="scroll-to-section"><a href="#">Eventos</a></li>
                                </ul>
                                <a class="menu-trigger">
                                    <span>Menu</span>
                                </a>
                                <!-- ***** Menu End ***** -->
                            </nav>
                        </div>

                        <div class="col-4 col-md-5 pt-3">
                            {% if app.user %}
                                <div class="indentificacion">
                                    <div class="indentificacion__logo">
                                        <div class="menu-desplegable">
                                            <img src="images/users/logo.png" class='imgUser' alt="">
                                            <span id="desplegable" class="btnDesplegable">▼</span>

                                            <div class="desplegable__contenido" id="contenido-menu">
                                                <span>{{app.user.nombre}}</span>
                                                <a href='{{ absolute_url(path('profile', { 'id': app.user.id })) }}'>Datos Personales</a>
                                                <a href='{{ absolute_url(path('app_logout')) }}'>Cerrar Sesion</a>

                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            {% else %}
                                <div class="boton boton--secundario d-inline-block align-middle">
                                    <a href='../login' class=''>Login</a>
                                </div>
                                <div class="boton scroll-to-section d-inline-block align-middle">
                                    <a href='../register' class=''>Registrarse</a>
                                </div>
                            {% endif %}
                            
                        </div>
                    </div>
                    </div>
                </header>

                {% for flash_message in app.session.flashbag.get('success') %}
                    <div class="alert alert-success fade show text-center">
                        <div class='w-100 d-flex flex-row justify-content-between'>
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                            {{ flash_message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                {% endfor %}

                {% for flash_message in app.session.flashbag.get('error') %}
                    <div class="alerta alerta--error ">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                
            {% endblock %}

            <div id='content'>
                {% block content %}
                {% endblock %}
            </div>

            {% block footer %}

            {% endblock %}

            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
                {# JQUERY #}
                <script src="js/js/jquery.js"></script>
                <script src="js/js/jquery-ui.js"></script>
                {# JQUERY VALIDATION #}
                <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/additional-methods.js"></script>

                <!-- Scripts -->
                <!-- Bootstrap core JavaScript -->
                <script src="bootstrap/vendor/jquery/jquery.min.js"></script>
                <script src="bootstrap/vendor/bootstrap/js/bootstrap.min.js"></script>

                <script src="bootstrap/assets/js/isotope.min.js"></script>
                <script src="bootstrap/assets/js/owl-carousel.js"></script>
                <script src="bootstrap/assets/js/tabs.js"></script>
                <script src="bootstrap/assets/js/popup.js"></script>
                <script src="bootstrap/assets/js/custom.js"></script>
            
                {# PERSONAL #}
                <script src="js/api/reservas.js"></script>   
                <script src="js/funcionamiento/load.js"></script>   
                <script src="js/objetos/reserva.js"></script>   
                <script src="js/objetos/mesa.js"></script>   
                <script src="js/objetos/juego.js"></script>   
                <script src="js/objetos/alamacen.js"></script>
                <script src="js/objetos/sala.js"></script>
                <script src="js/funcionamiento/gestionMesas.js"></script>
                <script src="js/funcionamiento/reservar.js"></script>
                <script src="js/funcionamiento/menu-header.js"></script>
                <script src="js/objetos/datepickerDisposiciones.js"></script>
                <script src="js/validacion/validaForm.js"></script>
                <script src="js/uix/alert.js"></script>
            {% endblock %}

        {% endblock %}
    </body>
</html>
